//Constructor Injection
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
            
 <bean class="constructorInjection.User" id="userVinay">
 <constructor-arg name="id" value="1234"> </constructor-arg>
<constructor-arg name="name" value="vinay"></constructor-arg>

 </bean>

</beans>



//Setter Injection
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
            
 <bean class="SetterInjection.Teacher" id="t1">

<property name="name" value="Dr.Arun"></property>
<property name="sub" value="ATC"></property>
<property name="sal" value="90340874"></property>
 </bean>

</beans>




//Object Reference Injection

<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">


		<bean class="objectRefInjection.Laptop" id="myHPLaptop">
			<property name="usb" ref="myTranscendUsb"></property>
		</bean>
		
		<bean class="objectRefInjection.Usb" id="newTranscendUsb">
		
		</bean>

</beans>
